* {
	overflow: hidden;
	font-family: nanumBarunRegular;
	font-size: 10pt;
	color: #4d4d4d;
	cursor: default;
	-webkit-user-select: none; 
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
}

.app-region {
	height: 30px;
	background: rgba(1,1,1,0.1);
	-webkit-app-region: drag;
}

.border_line {
	box-shadow: inset 0 0 1px #444;
}

.title {
	margin: 5px;
}

.close_button {
	float: right;
	margin-right: 15px;
	margin-top: 15px;
}

.app-region .close_button {
	display: none;
}

.close_icon {
	width: 10px;
	height: 10px;
	opacity: 0.5;
}

.container {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 15px;
}

.button_area {
	position: absolute;
	bottom: 12px;
	right: 12px;
}

button {
	width:70px;
	height: 30px;
}