@charset "UTF-8";

//교과용 헤더의 전체 컬러
.practical_course_mode {
    .common_gnb {
        background-color: #8274ff;
    }
}

// 교과형 (실과) 에서 실과 버튼모양
em.ico_workspace_practical {
    display: inline-block;
    overflow: hidden;
    width: 28px;
    height: 16px;
    margin: 0 0 0 3px;
    font-size: 1px;
    color: transparent;
    text-indent: -10px;
    vertical-align: top;
    background: url(../renderer/resources/images/gnb/ico_workspace_practical.png) no-repeat;
    background-size: 28px auto;
}
