html, body{
    margin: 0;
    overflow: hidden;
    min-width: 1024px;
    min-height: 768px;
}

/* TODO 페인터 리뉴얼되면 삭제 벡터 모아보기 버튼에서 발생하는 문제를 트릭으로 숨겨놓은 CSS 땜빵코드입니다. */
div.popup .false {
    display: none;
}
