# common
.DS_Store
node_modules/
out/
cache/
**/temp/
dist/
temp/

# ide, framework
.cache
.idea
.vscode

# related to webpack or bower
src/renderer/bower_components
src/renderer_build
src/main_build

# specifics
build/*.exe
yarn-error.log
