@font-face{font-family:ng;font-style:normal;font-weight:400;src:url(../fonts/NanumGothic-Regular.woff2) format('woff2')}
@font-face{font-family:nanumBarunLight;font-style:normal;src:url(../fonts/NanumBarunGothicLight.woff2) format('woff2')}
@font-face{font-family:nanumBarunUltraLight;src:url(../fonts/NanumBarunGothicUltraLight.woff2) format('woff2')}
@font-face{font-family:nanumBarunRegular;src:url(../fonts/NanumBarunGothic.woff2) format('woff2')}
@font-face{font-family:nanumBarunBold;src:url(../fonts/NanumBarunGothicBold.woff2) format('woff2')}