<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>엔트리</title>
</head>

<body>
	<div class="container">
		<div class="container_inner">
			<div class="logo_wrapper">
				<img src="../images/about/logo.png" class="logo" />
			</div>
			<div>
				<div class="txtVersion">
					Version
					<span id="version"></span>
					<br/>
					<a href="#" id="playEntryBtn">
						https://playentry.org
					</a>
				</div>
				<div>
					<div class="btnVersionUpdate">
						최신버전 다운로드
					</div>
					<div class="txtAlreadyVersion">
						최신 버전입니다.
					</div>
				</div>
			</div>
		</div>
	</div>
	<link rel='stylesheet' href='../style/fonts.css' />
	<link rel='stylesheet' href='../style/about.less' />
	<script>
		window.$ = window.jQuery = require('../bower_components/jquery/dist/jquery.js');
		import { shell, remote, ipcRenderer } from 'electron';
		const { app } = remote;
		const aboutWindow = remote.getCurrentWindow();

		$(function () {
			$('body').on('click', function () {
				aboutWindow.hide();
			});

			$('#playEntryBtn').on('click', function (e) {
				e.preventDefault();
				shell.openExternal('https://playentry.org');
			});

			$('.btnVersionUpdate').on('click', () => {
				shell.openExternal(
					'https://playentry.org/#!/offlineEditor'
				);
			});

			$("#version").text(app.getVersion());

			aboutWindow.on('show', () => {
				ipcRenderer.once('checkVersionResult', (e, hasNewVersion) => {
					if (hasNewVersion) {
						$('.txtAlreadyVersion').hide();
						$('.btnVersionUpdate').show();
					} else {
						$('.btnVersionUpdate').hide();
						$('.txtAlreadyVersion').show();
					}
				});

				const lastCheckVersion =
					localStorage.getItem('lastCheckVersion') || '0.0.0';
				ipcRenderer.send('checkVersion', lastCheckVersion);
			});
		});
	</script>
</body>

</html>