<div data-ng-controller='HeaderController' data-ng-init="init()" class="page-header">
    <div class="logo">
        <img src="./images/workspace_header_logo_white.png">
    </div>
    <div class="workspaceProjectNameWrapper">
        <span class="workspace_name_wrapper">
            <input type="text" data-ng-model="project.name" id="project_name" class="normal workspace_project_name" data-ng-focus="focus()" data-ng-enter="blur()" ng-blur="blur()"/>
        </span>
    </div>
    <div class="workspace_language">
        <ul class="language_wrapper">
            <li class="dropdown">
                <a href class="dropdown-toggle" data-toggle="dropdown">
                    <span class="menu">{{user_language | text}}<b class="caret"></b></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href data-ng-click="setLanguage('ko')">{{::dict.KO}}</a></li>
                    <li><a href data-ng-click="setLanguage('en')">{{::dict.EN}}</a></li>
                    <li><a href data-ng-click="setLanguage('vn')">{{::dict.VN}}</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="workspace_button_group">
        <div class="btn-group" dropdown is-open="false">
            <a class="btn dropdown-toggle" data-toggle="dropdown">
                <img src="./images/top_icon_new_b_nor.png" />
                <span class="drop"><b class="caret"></b></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li ng-click="newProject()">
                    <a id="btnFileNew" href="">{{::dict.WORKSPACE_FILE_NEW}}</a>
                </li>
                <li>
                    <a href ng-click="loadWorkspace()">{{::dict.WORKSPACE_FILE_UPLOAD}}</a>
                </li>
            </ul>
        </div>
        <div class="btn-group" dropdown is-open="false">
            <a class="btn dropdown-toggle" data-toggle="dropdown">
                <img src="./images/top_icon_save_b_nor.png" />
                <span class="drop"><b class="caret"></b></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href ng-click="saveWorkspace()">{{::dict.WORKSPACE_FILE_SAVE}}</a>
                </li>
                <li>
                    <a href ng-click="saveAsWorkspace()">{{::dict.WORKSPACE_FILE_SAVE_AS}}</a>
                </li>
            </ul>
        </div>
        <div class="btn-group" dropdown is-open="false">
            <a id="helpBtn" class="btn dropdown-toggle" data-toggle="dropdown">
                <img src="./images/block_help.png" />
                <span class="drop"><b class="caret"></b></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href ng-click="showBlockHelper()">{{::dict.WORKSPACE_BLOCK_HELPER}}</a>
                </li>
                <li>
                    <a href ng-click="getHardwareManual()">
                        {{::dict.WORKSPACE_HARDWARE_GUIDE}}
                    </a>
                </li>
                <li><a href ng-click="getPythonManual()">{{::dict.WORKSPACE_PYTHON_GUIDE}}</a></li>
            </ul>
        </div>
        <div class="btn-group btn_undo_workspace">
            <button type="button" class="btn" onclick="Entry.dispatchEvent('undo')">
                <img src="./images/top_icon_left_b_nor.png">
            </button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn" onclick="Entry.dispatchEvent('redo')">
                <img src="./images/top_icon_right_b_nor.png">
            </button>
        </div>
        <div class="workspace_divider"></div>
    </div>
    <div class="workspace_button_group workspaceModeSelector">
        <div class="btn-group" dropdown is-open="false">
            <a class="btn dropdown-toggle" data-toggle="dropdown">
                <img src="./images/top_icon_block.png" ng-show="myProject.programmingMode == 0"/>
                <img src="./images/top_icon_python.png" ng-hide="myProject.programmingMode == 0"/>
                <span class="drop"><b class="caret"></b></span>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li><a href ng-click="setMode(0)">{{::dict.WORKSPACE_BLOCK_CODING}}</a></li>
                <li><a href ng-click="setMode(1)">{{::dict.WORKSPACE_PYTHON_CODING}}</a></li>
            </ul>
        </div>
        <div class="workspace_divider"></div>
    </div>

    <div hidden>
        <input id="saveArduinoCode" type="file" nwworkingdir nwsaveas />
    </div>
    <div hidden>
        <input id="saveArduinoPlugin" type="file" nwworkingdir nwsaveas />
    </div>
</div>
