<div data-ng-controller='HeaderController' data-ng-init="init()" class="page-header">
    <div class="headerLeftWrapper">
        <div class="logo">
            <a class="">
                <img src="./images/workspace_header_logo_white.png">
            </a>
        </div>
        <div class="workspaceProjectNameWrapper">
            <span class="workspace_name_wrapper">
                <input type="text" data-ng-model="myProject.name" id="project_name" class="normal workspace_project_name" data-ng-focus="focus()"
                    data-ng-enter="blur()" ng-blur="blur()" />
            </span>
        </div>
    </div>
    <div class="headerRightWrapper">
        <div class="workspace_mode" ng-if="user_language == 'ko'">
            <ul class="mode_wrapper">
                <li class="dropdown" uib-dropdown>
                    <a href class="dropdown-toggle" data-toggle="dropdown">
                        <span class="menu">
                            <div class="modeLabel">
                                {{ PracticalModeName }}
                                <div class="practical_course_badge">
                                    <span ng-if="PracticalMode == 'practical_course'">
                                        {{ "Workspace.practical_course" | text }}
                                    </span>
                                </div>
                            </div>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li>
                            <a href data-ng-click="setWorkspaceMode('default')">
                                {{ 'Workspace.default_mode' | text }}
                            </a>
                        </li>
                        <li>
                            <a href data-ng-click="setWorkspaceMode('practical_course')">
                                {{ 'Workspace.practical_course_mode' | text }}
                                <div class="practical_course_badge">
                                    <span>
                                        {{ 'Workspace.practical_course' | text }}
                                    </span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="workspace_button_group">
            <div class="btn-group" uib-dropdown>
                <a class="btn dropdown-toggle" data-toggle="dropdown">
                    <img src="./images/ic-new.png" />
                    <span class="drop">
                        <b class="caret"></b>
                    </span>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li ng-click="newProject()">
                        <a id="btnFileNew" href="">{{'Workspace.file_new' | text}}</a>
                    </li>
                    <li>
                        <a href ng-click="loadWorkspace()">{{'Workspace.file_upload' | text}}</a>
                    </li>
                </ul>
            </div>
            <div class="btn-group" uib-dropdown>
                <a class="btn dropdown-toggle" data-toggle="dropdown">
                    <img src="./images/ic-save.png" />
                    <span class="drop">
                        <b class="caret"></b>
                    </span>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li>
                        <a href ng-click="saveWorkspace()">{{'Workspace.file_save' | text}}</a>
                    </li>
                    <li>
                        <a href ng-click="saveAsWorkspace()">{{'Workspace.file_save_as' | text}}</a>
                    </li>
                </ul>
            </div>
            <div class="btn-group" uib-dropdown>
                <a class="btn dropdown-toggle" data-toggle="dropdown">
                    <img id="helpBtn" src="./images/ic-helper.png" />
                    <span class="drop">
                        <b class="caret"></b>
                    </span>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li>
                        <a href ng-click="showBlockHelper()">
                            {{'Workspace.block_helper' | text}}
                        </a>
                    </li>
                    <li>
                        <a href ng-click="getHardwareManual()">
                             {{ isPracticalCourse ? "Workspace.robot_guide" : "Workspace.hardware_guide" | text }}
                        </a>
                    </li>
                    <li>
                        <a href ng-click="getPythonManual()">
                            {{'Workspace.python_guide' | text}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="workspace_divider"></div>
            <div class="btn-group btn_undo_workspace">
                <button type="button" class="btn" onclick="Entry.dispatchEvent('undo'); this.blur();">
                    <img src="./images/ic-back.png">
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn_redo_workspace" onclick="Entry.dispatchEvent('redo'); this.blur()">
                    <img src="./images/ic-front.png">
                </button>
            </div>
            <div class="workspace_divider" ng-if="user_language == 'ko'"></div>
            <div class="workspace_margin" ng-if="user_language != 'ko'"></div>
        </div>
        <div class="workspace_button_group workspaceModeSelector" ng-if="PracticalMode != 'practical_course'">
            <div class="btn-group" dropdown is-open="false">
                <a class="btn dropdown-toggle" data-toggle="dropdown">
                    <img src="./images/ic-block.png" ng-show="myProject.programmingMode == 0" />
                    <img src="./images/ic-python.png" ng-hide="myProject.programmingMode == 0" />
                    <span class="drop">
                        <b class="caret"></b>
                    </span>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                    <li>
                        <a href ng-click="setMode(0)">{{'Menus.block_coding' | text}}</a>
                    </li>
                    <li>
                        <a href ng-click="setMode(1)">{{'Menus.python_coding' | text}}</a>
                    </li>
                </ul>
            </div>
            <div class="workspace_divider"></div>
        </div>
    </div>
</div>