<div class="modal-dialog" data-ng-controller="Workspace.HeaderController">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">&times;</button>
            <h4 class="modal-title">프로젝트 불러오기</h4>
        </div>
        <div class="modal-body modal-prompt">
            <table class="table">
                <thead>
                <tr>
                    <th>이름</th>
                    <th>생성일</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="project in projects">
                    <td>{{project.name}}</td>
                    <td>{{project.created}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer modal-prompt">
            <button type="button" class="btn btn-default" data-ng-click="cancel()">취소</button>
            <button type="button" class="btn btn-primary" data-ng-click="ok()">열기</button>
        </div>
    </div>
</div>
