<div data-ng-init="init()" class='modal_total_body'>
    <div class="modal-content modal-workspace" ng-class="{'modal-lecture': parent == 'lecture', 'modal-workspace': parent == 'workspace'}">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">
                <img src="./images/close_modal_workspace.png" />
            </button>
            <h4 class="modal-title">{{'Menus.picture_import'|text}}</h4>
        </div>
        <div class="modal-body">
            <!--
            <span class="searchWord" ng-show="currentTab == 'system'">
                <input id="searchWord" ng-model="searchWord" ng-enter="search()" />
                <img src="./images/workspace_modal_search.png" ng-click="search()"/>
            </span>
            -->
            <tabset>
                <tab ng-repeat="tab in tabs" select="changeTab(tab.category)" active="tab.active">
                    <tab-heading>{{tab.title | text}}
                        <div class='modal_tab_bottom'></div>
                    </tab-heading>
                    <ng-include src="tab.partial">
                    </ng-include>
                </tab>
            </tabset>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn_confirm_modal" data-ng-click="ok()" ng-hide="currentTab == 'newPicture'">{{'Buttons.apply'|text}} ({{currentSelected().length}})</button>
            <button type="button" class="btn btn_cancel_modal" data-ng-click="cancel()" ng-hide="currentTab == 'newPicture'">{{'Buttons.cancel'|text}}</button>
        </div>
    </div>
</div>
