<div data-ng-controller="Workspace.HeaderController">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">&times;</button>
            <h4 class="modal-title">프로젝트 저장</h4>
        </div>
        <div class="modal-body modal-prompt">
            <form>
                <label for="name">이름</label>
                <input type="text" class="form-control" name="name" id="name" data-ng-model="name"/>
            </form>
        </div>
        <div class="modal-footer modal-prompt">
            <button type="button" class="btn btn-default" data-ng-click="cancel()">취소</button>
            <button type="button" class="btn btn-primary" data-ng-click="ok()">저장</button>
        </div>
    </div>
</div>
