<div class="row">
    <div class="wrap">
        <div class="textProperties">
            <span class="dropdown fontDropdown">
                <a href class="dropdown-toggle" data-toggle="dropdown">
                    {{fontData.font.name}} <span class="down_arrow"></span>
                </a>
                <ul class="dropdown-menu fontDropdownList">
                    <li>
                        <a ng-repeat="font in fonts"
                            ng-click="changeTextFont(font)">
                            {{font.name}}
                        </a>
                    </li>
                </ul>
            </span>
            <div class="text_buttons">
                <a href ng-click="toggleFontOption('bold')"><img ng-src="{{getFontOption('bold')}}"></a>
                <a href ng-click="toggleFontOption('underLine')"><img ng-src="{{getFontOption('underLine')}}"></a>
                <a href ng-click="toggleFontOption('italic')"><img ng-src="{{getFontOption('italic')}}"></a>
                <a href ng-click="toggleFontOption('strike')"><img ng-src="{{getFontOption('strike')}}"></a>
                <a href ng-click="toggleColorChooser('foreground')"><img ng-src="./images/text_button_color_true.png"></a>
                <a href ng-click="toggleColorChooser('background')"><img ng-src="./images/text_button_background_true.png"></a>
            </div>
            <div class="fgColorDiv" ng-style="fgColor"></div>
            <div class="bgColorDiv" ng-style="bgColor"></div>
        </div>
        <div class="linebreakWrapper">
            <hr class="linebreakHorizontal"/>
            <div class="linebreakButtons">
                <img ng-click="setLinebreak(false)" ng-src="./images/text-linebreak-off-{{!linebreak}}.png">
                <img ng-click="setLinebreak(true)" ng-src="./images/text-linebreak-on-{{linebreak}}.png">
            </div>
            <div class="linebreakDescription" ng-show="linebreak">
                <p>{{'Menus.linebreak_on_desc_1' | text}}</p>
                <ul>
                    <li>{{'Menus.linebreak_on_desc_2' | text}}</li>
                    <li>{{'Menus.linebreak_on_desc_3' | text}}</li>
                </ul>
            </div>
            <div class="linebreakDescription" ng-show="!linebreak">
                <p>{{'Menus.linebreak_off_desc_1' | text}}</p>
                <ul>
                    <li>{{'Menus.linebreak_off_desc_2' | text}}</li>
                    <li>{{'Menus.linebreak_off_desc_3' | text}}</li>
                </ul>
            </div>
        </div>

        <input type="text" ng-hide="linebreak" class="modal_textBox" placeholder="{{'Workspace.textbox_input'|text}}" value="" ng-style="{color: fontData.colour}"/>
        <textarea class="modal_textBox" ng-show="linebreak" placeholder="{{'Workspace.textbox_input'|text}}" value="" ng-style="{color: fontData.colour}"></textarea>
        <div class="coloursWrapper" ng-show="foreground">
            <div class="modal_colour" ng-repeat="colour in colours" ng-style="{backgroundColor: colour}" ng-click="changeTextColour(colour)" ng-class="{modalColourTrans : colours.indexOf(colour)==0, colourSelected: colour === fontData.colour}"></div>
        </div>
        <div class="backgroundsWrapper" ng-show="background">
            <div class="modal_colour" ng-repeat="colour in colours" ng-style="{backgroundColor: colour}" ng-click="changeBackgroundColour(colour)" ng-class="{modalColourTrans : colours.indexOf(colour)==0, colourSelected: colour === fontData.background}"></div>
        </div>
    </div>
</div>

