<div class="row">
    <div class="wrap">
        <div class="spinner" ng-show="isUploading">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
        <div class="box">
            <form>
                <div class="image-upload boxOuter">
                    <label for="uploadFile">
                        <img src="/images/fileadd.png"/>
                        <span class="workspace_upload_span"></span>
                    </label>

                    <input type="file" id="uploadFile" name="uploadFile" 
                        data-ng-model="uploadFile" multiple="multiple" 
                        onchange="angular.element(this).scope().upload()" 
                        title="이미지 파일 선택"/>
                </div>
                <div class="titleBox">{{'Workspace.upload_addfile'|text}}</div>
            </form>
        </div>
        <div class="box" data-ng-repeat="picture in uploadPictures">
            <div id="{{picture._id}}" class="boxOuter" data-ng-click="selectUpload(picture)" data-ng-dblclick="applyUpload(picture)">
                <div class="boxInner" style="background-image: url('{{picture|makeThumbnail}}');"></div>
                <img class="overlay" src="/images/check_inside_new.png"/>
            </div>
            <div class="titleBox">{{picture.name}}</div>
        </div>
    </div>
</div>

