@font-face {
  font-family: 'Jeju Hallasan';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/JejuHallasan-Regular.eot");
  src: url("../fonts/JejuHallasan-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/JejuHallasan-Regular.woff2") format('woff2'), url("../fonts/JejuHallasan-Regular.woff") format('woff');
}
@font-face {
  font-family: 'KoPub Batang';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/KoPubBatang-Light.eot");
  src: url("../fonts/KoPubBatang-Light.eot?#iefix") format('embedded-opentype'), url("../fonts/KoPubBatang-Light.woff2") format('woff2'), url("../fonts/KoPubBatang-Light.woff") format('woff');
}
@font-face {
  font-family: 'KoPub Batang';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/KoPubBatang-Regular.eot");
  src: url("../fonts/KoPubBatang-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/KoPubBatang-Regular.woff2") format('woff2'), url("../fonts/KoPubBatang-Regular.woff") format('woff');
}
@font-face {
  font-family: 'KoPub Batang';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/KoPubBatang-Bold.eot");
  src: url("../fonts/KoPubBatang-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/KoPubBatang-Bold.woff2") format('woff2'), url("../fonts/KoPubBatang-Bold.woff") format('woff');
}
@font-face {
  font-family: NanumGothic;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NanumGothic-Regular.eot");
  src: url("../fonts/NanumGothic-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/NanumGothic-Regular.woff2") format('woff2'), url("../fonts/NanumGothic-Regular.woff") format('woff');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NanumGothic-Regular.eot");
  src: url("../fonts/NanumGothic-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/NanumGothic-Regular.woff2") format('woff2'), url("../fonts/NanumGothic-Regular.woff") format('woff');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/NanumGothic-Bold.eot");
  src: url("../fonts/NanumGothic-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/NanumGothic-Bold.woff2") format('woff2'), url("../fonts/NanumGothic-Bold.woff") format('woff');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/NanumGothic-ExtraBold.eot");
  src: url("../fonts/NanumGothic-ExtraBold.eot?#iefix") format('embedded-opentype'), url("../fonts/NanumGothic-ExtraBold.woff2") format('woff2'), url("../fonts/NanumGothic-ExtraBold.woff") format('woff');
}
@font-face {
  font-family: 'Nanum Gothic Coding';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NanumGothicCoding-Regular.eot");
  src: url("../fonts/NanumGothicCoding-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/NanumGothicCoding-Regular.woff2") format('woff2'), url("../fonts/NanumGothicCoding-Regular.woff") format('woff');
}
@font-face {
  font-family: 'Nanum Gothic Coding';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/NanumGothicCoding-Bold.eot");
  src: url("../fonts/NanumGothicCoding-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/NanumGothicCoding-Bold.woff2") format('woff2'), url("../fonts/NanumGothicCoding-Bold.woff") format('woff');
}
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NanumMyeongjo-Regular.eot");
  src: url("../fonts/NanumMyeongjo-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/NanumMyeongjo-Regular.woff2") format('woff2'), url("../fonts/NanumMyeongjo-Regular.woff") format('woff');
}
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/NanumMyeongjo-Bold.eot");
  src: url("../fonts/NanumMyeongjo-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/NanumMyeongjo-Bold.woff2") format('woff2'), url("../fonts/NanumMyeongjo-Bold.woff") format('woff');
}
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/NanumMyeongjo-ExtraBold.eot");
  src: url("../fonts/NanumMyeongjo-ExtraBold.eot?#iefix") format('embedded-opentype'), url("../fonts/NanumMyeongjo-ExtraBold.woff2") format('woff2'), url("../fonts/NanumMyeongjo-ExtraBold.woff") format('woff');
}
@font-face {
  font-family: 'Nanum Pen Script';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NanumPenScript-Regular.eot");
  src: url("../fonts/NanumPenScript-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/NanumPenScript-Regular.woff2") format('woff2'), url("../fonts/NanumPenScript-Regular.woff") format('woff');
}
@font-face {
  font-family: ng;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NanumGothic-Regular.eot");
  src: url("../fonts/NanumGothic-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/NanumGothic-Regular.woff2") format('woff2'), url("../fonts/NanumGothic-Regular.woff") format('woff');
}
@font-face {
  font-family: nanumBarunLight;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/NanumBarunGothicLight.eot");
  src: url("../fonts/NanumBarunGothicLight.eot?#iefix") format('embedded-opentype'), url("../fonts/NanumBarunGothicLight.woff2") format('woff2'), url("../fonts/NanumBarunGothicLight.woff") format('woff');
}
@font-face {
  font-family: nanumBarunUltraLight;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/NanumBarunGothicUltraLight.eot");
  src: url("../fonts/NanumBarunGothicUltraLight.eot?#iefix") format('embedded-opentype'), url("../fonts/NanumBarunGothicUltraLight.woff2") format('woff2'), url("../fonts/NanumBarunGothicUltraLight.woff") format('woff');
}
@font-face {
  font-family: nanumBarunRegular;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NanumBarunGothic.eot");
  src: url("../fonts/NanumBarunGothic.eot?#iefix") format('embedded-opentype'), url("../fonts/NanumBarunGothic.woff2") format('woff2'), url("../fonts/NanumBarunGothic.woff") format('woff');
}
@font-face {
  font-family: nanumBarunBold;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/NanumBarunGothicBold.eot");
  src: url("../fonts/NanumBarunGothicBold.eot?#iefix") format('embedded-opentype'), url("../fonts/NanumBarunGothicBold.woff2") format('woff2'), url("../fonts/NanumBarunGothicBold.woff") format('woff');
}
@font-face {
  font-family: notoSansRegular;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NotoSansKR-subset-Regular.eot");
  src: url("../fonts/NotoSansKR-subset-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/NotoSansKR-subset-Regular.woff") format('woff');
}
@font-face {
  font-family: notoSansMedium;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NotoSansKR-subset-Medium.eot");
  src: url("../fonts/NotoSansKR-subset-Medium.eot?#iefix") format('embedded-opentype'), url("../fonts/NotoSansKR-subset-Medium.woff") format('woff');
}
@font-face {
  font-family: notoSansBold;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/NotoSansKR-subset-Bold.eot");
  src: url("../fonts/NotoSansKR-subset-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/NotoSansKR-subset-Bold.woff") format('woff');
}

@font-face {
  font-family: 'yg-jalnan';
  font-style: normal;
  font-weight: 400;
  src: local('잘난체 Regular');
  src: url("../fonts/fonts/JalnanOTF00.woff") format('woff');
}

@font-face {
  font-family: 'D2 Coding';
  font-style: normal;
  font-weight: 400;
  src: local('D2 Coding Regular');
  src: url("../fonts/d2coding-subset.woff") format('woff');
}
@font-face {
  font-family: 'D2 Coding';
  font-style: normal;
  font-weight: 600;
  src: local('D2 Coding Bold');
  src: url("../fonts/d2coding-bold-subset.woff") format('woff');
}

@font-face {
  font-family: 'Nanum Barun Pen';
  font-style: normal;
  font-weight: 400;
  src: local('나눔 바른 펜 Regular');
  src: url("../fonts/nanumbarunpenR.woff") format('woff');
}
@font-face {
  font-family: 'Nanum Barun Pen';
  font-style: normal;
  font-weight: 600;
  src: local('나눔 바른 펜 Bold');
  src: url("../fonts/nanumbarunpenB.woff") format('woff');
}

@font-face {
  font-family: 'MaruBuri';
  font-style: normal;
  font-weight: 400;
  src: local('마루부리 Regular');
  src: url("../fonts/MaruBuri-Regular.woff") format('woff');
}
@font-face {
  font-family: 'MaruBuri';
  font-style: normal;
  font-weight: 600;
  src: local('마루부리 Bold');
  src: url("../fonts/MaruBuri-Bold.woff") format('woff');
}

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 400;
  src: local('NotoSans Regular');
  src: url("../fonts/NotoSans-Regular.woff") format('woff');
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 600;
  src: local('NotoSans Bold');
  src: url("../fonts/NotoSans-Bold.woff") format('woff');
}
